body {
    font-family: 'Lucida Console';
}

#main-page-intro {
    font-weight: bold;
    text-align: center;
}

h1 {
    color : white;
    background-color: red;
    font-size: 32px ;
    text-align: center;
    font-weight: bold; /* a value of 700 would be the bold equivalent */
}

a {
    font-family: 'Lucida Console';
    color: #000;
}


.parent {
    text-align: center;
  }
  .parent > ul {
    display: inline-block;

  }


  .button-home {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-home:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }

  @media (min-width: 768px) {
    .button-home:active {
      padding: 0.25em 0.75em;
    }
  }